@font-face {
    font-family: stanford;
    src: url(./happy_beige/Happy\ Beige.ttf);
    src: url(./happy_boy/Happy\ Boy.ttf);
    src: url(./stanford_breath/Stanford_Breath.ttf);
}

@font-face {
    font-family: happy;
    src: url(./happy_beige/Happy\ Beige.ttf);
}

.introducao{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

body{
    background-color: #ffe2e2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    position: fixed;
    background-color: #575757;
    color: white;
    text-align: center;

}

h1{
    letter-spacing: 2px;
    font-family: happy;
    color: #ffffff;
    font-family: ;
}

header h1{
    font-size: x-large;
    margin: 0;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 12px;
}

a:hover{
    color: #000000;
}

nav ul li a{
    font-size: 20px;
    letter-spacing: 1px;
    padding: 2.8px;
    font-family: happy;
    padding: 3px;
    border-radius: 40px;
    color: #ffffff;
    text-decoration: none;
}

hr{
    background-color: #000000;
    height: 1.9px;
}

main{
    margin: auto;
    padding: 70px;
    width: 67%;
}

h2{
    color: #000000;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #000000;
    padding: 10px;
    text-align: left;
}

th{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffe2e2;
}

tr:hover{
    background: #99979786;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
  
table th td{
    font-family: Helvetica, sans-serif;
    border: 10px solid #ffffff;
    padding: 10px;
    text-align: left;
}

figure{
    display: inline-block;
    margin: 20px;
    text-align: center;
}

img{
    border-radius: 20px;
    width: 200px;
    height: auto;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

img{
    width: 200px;
    height: auto;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

form input, form textarea{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 19px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #0051ff;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #000000b4;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}